<div class="position-relative border-radius-xl overflow-hidden shadow-lg mb-7 bg-white">

<!-- -------- START Features w/ icons and text on left & gradient title and text on right -------- -->
  <div class="container">
    <div class="row py-4">
      <div class="col-lg-6">
        <h3 class="text-gradient text-primary mb-0 mt-2">SI VOUS ETES ARRIVE LA!</h3>
    <h4>On va commencer par faire court.</h4>
    <p>C’est sans doute que vous voulez savoir ce qu’on fait, pourquoi on le fait, ou peut-être découvrir qui on est, histoire d’être sûr de ne pas vous faire avoir. Bon réflexe.</p>
    <p>Notre raison d'être est l'achat ou la vente de console et de jeux vintage pour des passioné(e)s qui viennent retrouver ce qui fait notre force : </p>
    <a href="javascript:;" class="text-primary icon-move-right">En savoir plus sur nous
      <i class="bi bi-suit-heart-fill"></i>
    </a>
  </div>
  <div class="col-lg-6 mt-lg-0 mt-5 ps-lg-0 ps-0">
    <div class="p-3 info-horizontal">
      <div class="icon icon-shape rounded-circle bg-gradient-primary shadow text-center">
        <i class="bi bi-suit-heart-fill"></i>
      </div>
      <div class="description ps-3">
        <p class="mb-0">Des jeux qui remontent aux consoles et micro ordinateurs 1970 jusqu à la Xbox première du nom. </p>
      </div>
    </div>

    <div class="p-3 info-horizontal">
      <div class="icon icon-shape rounded-circle bg-gradient-primary shadow text-center">
        <i class="bi bi-suit-heart-fill"></i>
      </div>
      <div class="description ps-3">
        <p class="mb-0">Des produits rares et une communauté de connaisseurs qui ne laissent pas passer les arnaques</p>
      </div>
    </div>
    <div class="p-3 info-horizontal">
      <div class="icon icon-shape rounded-circle bg-gradient-primary shadow text-center">
        <i class="bi bi-suit-heart-fill"></i>
      </div>
      <div class="description ps-3">
        <p class="mb-0">Chacun pourra gérer sa collection et revendre ses doublons car d'autre fans seront là pour acheter ce qui est mis en ligne.</p>
      </div>
    </div>
  </div>
</div>
</div>
</div>	

<div class="position-relative border-radius-xl overflow-hidden shadow-lg mb-7 bg-white">
<!-- -------- START Features w/ icons and text on left & gradient title and text on right -------- -->
  <div class="container">
    <div class="row py-4">
      <div class="col-lg-6">
        <h3 class="text-gradient text-primary mb-0 mt-2">POURQUOI ON FAIT TOUT CA?</h3>
    <h4>Parcequ'il n'y a pas de planète B</h4>
    
    <p>Notre raison d'être est l'achat ou la vente de console et de jeux vintage pour des passionées qui viennent retrouver ce qui fait notre force : </p>
 
  </div>
  <div class="col-lg-6 mt-lg-0 mt-5 ps-lg-0 ps-0">
    <div class="p-3 info-horizontal">
      <div class="icon icon-shape rounded-circle bg-gradient-primary shadow text-center">
        <i class="bi bi-suit-heart-fill"></i>
      </div>
      <div class="description ps-3">
        <p class="mb-0">Plus personne n’a de doute sur le fait que ces dernières décennies,&nbsp;<strong>l’industrie du gaming est partie en vrille</strong>. </p>
      </div>
    </div>

    <div class="p-3 info-horizontal">
      <div class="icon icon-shape rounded-circle bg-gradient-primary shadow text-center">
        <i class="bi bi-suit-heart-fill"></i>
      </div>
      <div class="description ps-3">
        <p class="mb-0">Les jeux sont devenus jetables, et on en achète toujours plus, pour en mettre 60% à la poubelle dès la première année.</p>
      </div>
    </div>
    <div class="p-3 info-horizontal">
      <div class="icon icon-shape rounded-circle bg-gradient-primary shadow text-center">
        <i class="bi bi-suit-heart-fill"></i>
      </div>
      <div class="description ps-3">
        <p class="mb-0">Mais plutôt que de simplement constater que ce monde va mal, on préfère se concentrer sur ce qu’on peut faire de mieux.</p><p>Et ce qu’on peut faire,&nbsp;<strong>c’est enclencher avec des valeurs sures la prochaine révolution dans le Gaming</strong>.</p>
    
      </div>
    </div>
  </div>
</div>
</div>
</div>	
</div>

<div class="position-relative border-radius-xl overflow-hidden shadow-lg mb-7 bg-white">
  <div class="container">
    <div class="row py-4">
      <div class="col-lg-6">
        <h3 class="text-gradient text-primary mb-0 mt-2">ON SE PRESENTE, on ne s’appelle pas Henri</h3>
        <h4>OldSkoolGaming, c’est d’abord une équipe de 4 personnes.</h4><h4> On a préféré rester anonyme plutôt que de mettre nos tronches devant des ordis.</h4>
</div>
<div class="col-md-6"><div class="rich-text">
<p>Franck est acharné des rôles playing game de la vieille époque (warhammer, dungeon & dragons) </p>

<p>Hugo G., lui c'est le petit de la bande, le filou du CSS / HTML. C'est le mec y veux faire le template de ses rêves et révolutionner le Bootshit ! </p>

<p>Badr, comme tout le monde on a LE mec qui travail sous MAC, ouai je sais c'est pas cool pour nous ... !</p>

<p>Hugo P., ici on est face au mec qui soulève les problèmes comme la fonte du lundi matin ! Y transpire la sueur et la testostérone. </p>

<p>Alexandre, Musicien auteur compositeur, photographe, peintre, ingénieur studio mixage etc etc ... </p></p></div></div>
</div>
</div>
</div>	
</div>
