<!-- Ne pas afficher l'article si article.buyer est différent de nil (Donc s'il a été acheté) -->
<!-- if article.buyer != nil -->


    <!-- Le code ici a pour but de ne montrer que les articles que l'on recherche grace aux filtres 
          Parameters: {"console"=>"PS1", "typeofgame"=>"Console"}  Ce qui signifie, si aucun filtre n'existe, donc on affiche tout
          else   Si on rentre dans la condition else, cela signifie qu'il y a un filtre, dans ce cas on affiche pas tout -->
      <div class="col-md-6 col-lg-3 p-5">
      <div class="card border border-2 border-primary zoom" style="width: 15rem;">
        <div class="fw-bold text-dark">
          <%= article.title %>
        </div>
  <%= link_to image_tag("http://atlas-content-cdn.pixelsquid.com/stock-images/nintendo-nes-console-game-xwVG4NC-600.jpg", size: "200x300"), article_path(article) %>
  <div class="card-body">
    <h5 class="card-title"></h5>
    <div class="clearfix mb-3">
              <span class="float-start badge rounded-pill bg-gradient-primary"><%= article.console %></span>
              <span class="float-end price-hp fw-bold text-dark "><%= article.price %> €</span>
            </div>
  </div>
</div>

</div>
