<h1> Votre panier </h1>


<% @user.cart %>  <!-- On liste tous les articles de l'utilisateur connecté -->



  <% @cart.articles.each do |article| %>
    <%= article.title %>: <%= article.content %>,<%= article.price %>
  <% end %>
  <br>
<p> Votre total est de :<%= @total %> </p>

